html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", cursive;
  font-weight: normal;
}

.container {
  max-width: 1200px;
  padding-top: 150px;
  margin: 0 auto;
}

.header-body {
  position: fixed;
  z-index: 50;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
}

.header-body a {
  text-decoration: none;
}

.header-body a:hover {
  font-weight: 700;
}

.header-menu {
  display: flex;
  justify-content: space-around;
}

.header-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.header-link {
  padding-right: 150px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.main-menu {
  position: relative;
}

h1 {
  font-weight: 700;
  font-size: 47px;
  margin: 0;
}

.info {
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.language {
  font-size: 16px;
  position: absolute;
  top: 40px;
  right: -2%;
  transform: rotate(-90deg);
}

.language a {
  text-decoration: none;
}

.box-img {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 387px;
  margin-top: 31px;
}

.main-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 700px;
  margin-top: 150px;
}

.section {
  margin: 120px 0;
  text-align: center;
}

.section-2 {
  margin: 150px 0;
  text-align: center;
}

.heading {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 18px;
}

.text {
  font-size: 18px;
  display: inline-block;
}

.text p {
  margin: 0 0 40px 0;
}

.my-skill {
  font-size: 18px;
  display: block;
  margin: 69px 0 83px 0;
}

.skill {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.programs {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
}

.bg-img1 {
  position: absolute;
  top: 170px;
  left: 20px;
}

.bg-img2 {
  position: absolute;
  top: 170px;
  left: 40%;
  right: 40%;
}

.bg-img3 {
  position: absolute;
  top: 170px;
  right: 20px;
}

.portfolio {
  margin-top: 212px;
  padding: 100px 0;
}

.projects {
  margin: auto;
  margin-top: 47px;
}

.project {
  margin-bottom: 99px;
}

.project img {
  max-width: 100%;
  height: auto;
}

.text-portfolio {
  margin-top: 45px;
}

.text-portfolio a {
  font-size: 18px;
  margin: auto;
}

.heading-contacts {
  margin-bottom: 30px;
}

form {
  margin-top: 50px;
}

.button {
  text-decoration: none;
  font-size: 18px;
  padding: 13px 30px;
  border-radius: 50px;
  font-weight: 700;
}

.social-img {
  margin: 86px 0 45px 0;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.subscribe {
  font-size: 14px;
}

.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  h1 {
    margin-bottom: 23px;
  }
  .info {
    position: static;
    left: 0;
    top: 50px;
    transform: translate(0, 0);
  }
}
@media (max-width: 769px) {
  .container {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 130px 20px 0 20px;
  }
  h1 {
    margin-bottom: 23px;
  }
  .info {
    position: static;
    left: 0;
    top: 50px;
    transform: translate(0, 0);
  }
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bg-img1 {
    position: static;
    margin: 20px 0 40px;
  }
  .bg-img2 {
    position: static;
    margin: 20px 0 40px;
  }
  .bg-img3 {
    position: static;
    margin: 20px 0;
  }
  .scroll .top {
    display: none;
  }
}
@media (max-width: 426px) {
  .box-img {
    width: 316.5;
    height: 478px;
  }
  .main-img {
    width: auto;
    height: 500px;
    margin-top: 10px;
  }
}